@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair', serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180.3deg, rgb(17, 16, 16) 5.5%, rgb(97, 71, 104) 90.2%);
}

#home {
    border: solid black 1mm;
    border-radius: 20px;
    width: 12cm;
    height: 8cm;
    padding: 0.5rem;
    text-align: center;
    background: transparent;
    font-size: larger;
    box-shadow: 4px 10px 20px black;
}

.btn {
    text-decoration: none;
    padding: 10px;
    font-size: larger;
    color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 20px;
    background-color: rgb(156, 80, 156);
    margin-left: 1rem;
    display: block;
    margin-top: 1rem;
}

.btn:hover {
    background-color: rgba(156, 80, 156, 0.788) ;
}

h1 {
    color: white;
    font-weight: 900;
    margin-bottom: 6rem;
}

